<div class="panel">
  <img src="./../../assets/wallpaper.jpg"/>
  <div class="center-content black-opacity" style="height: 45vh;">
    <div class="row">
      <div class="col s12">
        <h1><%= t('homepage.title') %></h1>
        <div class="row flex-middle flex">
          <%= render "articles/form_search_articles" %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  main {
    margin-top: -64px;
  }
</style>