<div class="container">
  <p>
    Title: <%= @article.title %>
  </p>
  <p>
    Description: <%= @article.content %>
  </p>
  <p>
    Description: <%= @article.price %>
  </p>
  <p>
    Description: <%= @article.category_id %>
  </p>
</div>