<div class="row" style="margin-top: 1rem">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><%= link_to t('account.conversation'), account_conversations_path %></li>
      <li class="tab col s3"><%= link_to t('account.profil') %></li>
    </ul>
  </div>
</div>