/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require main
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.panel {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.panel {
    color: white;
}

.panel > img {
    max-width: 100vw;
    width: auto;
    min-height: 100vh;
}

.panel > div {
    position: absolute;
    top: 35%;
    bottom: 45%;
    right: 20%;
    left: 20%;
}

.flex {
    display: flex !important;
}

.flex-middle {
    align-items: center;
    justify-content: center;
}